---
layout: default
---

<section class="bp-section is-small bp-section-pagetitle">
    <div class="bp-container">
        {%- include header-breadcrumb.html -%}
    </div>
    <div class="bp-container">
        <div class="row">
            <div class="col">
                <h2 class="has-text-white"><b>{{- page.title -}}</b></h2>
            </div>
        </div>
    </div>

    <div class="bp-container ">
        <div class="row">
          <div class="col is-11">
              <small class="has-text-white" style="padding-top: 2.25rem; padding-bottom: 0">{{- page.date | date_to_string | upcase -}}</small>
          </div>
        </div>
      </div>
    </section>
</section>

<!-- Resource category buttons  -->
<section class="bp-section is-small padding--bottom--none">
  <div class="bp-container padding--top">
      <div class="row">
          <div class="col is-three-quarters-desktop is-fullwidth bp-overflow-buttons padding--left--none padding--right--none">
              <div class="bp-buttons">
                  {%- if site.data.resources -%}
                      {%- assign categories = site.data.resources.categories -%}
                  {%- else -%}
                      {%- assign categories = site.categories -%}
                  {%- endif -%}

                  {%- for category-element in categories -%}
                      {%- if site.data.resources -%}
                          {%- capture category_name -%} {{- category-element.category-name -}} {%- endcapture -%}
                          {%- capture category_address -%} {{- category-element.category-url -}} {%- endcapture -%}
                      {%- else -%}
                          {%- capture category_name -%} {{- category-element | first -}} {%- endcapture -%}
                          {%- capture category_address -%} {{- category-element | first -}} {%- endcapture -%}
                      {%- endif -%}

                      {%- capture category_url -%} 
                          {%- if category_name == site.resources_name -%}
                              /{{site.resources_name}}/
                          {%- else -%}
                              /{{site.resources_name}}/{{category_name}}/
                          {%- endif -%}
                      {%- endcapture -%}

                      <span class="bp-sec-button padding--top padding--bottom--xs">
                          {%- if category_name == site.resources_name -%}
                                  <a href="{{site.baseurl}}/{{site.resources_name}}/" class="is-uppercase media-category-button"><b>ALL</b></a>
                          {%- else -%}
                              {%- if page_url_no_whitespace == category_url -%}
                                  <a href="{{site.baseurl}}/{{site.resources_name}}/{{category_name}}/" class="is-uppercase media-category-button selected"><b>{{- category_name | replace: '-', ' ' -}}</b></a>
                              {%- else -%}
                                  <a href="{{site.baseurl}}/{{site.resources_name}}/{{category_address}}" class="is-uppercase media-category-button"><b>{{- category_name | replace: '-', ' ' -}}</b></a>
                              {%- endif -%}
                          {%- endif -%}
                      </span>

                  {%- endfor -%}
              </div>
          </div>
          
          {%- comment -%} Display filter for desktop {%- endcomment -%}
          <div class="col is-one-quarter padding--top padding--left padding--right--sm is-hidden-touch">
              <div class="filter-selector-div bp-dropdown">
                  <a class="bp-dropdown-button hero-dropdown is-centered padding--none" aria-haspopup="true" aria-controls="hero-dropdown-menu">
                  <div class="bp-dropdown-trigger">
                      <span class="sgds-icon sgds-icon-chevron-down is-size-4 has-text-black" id="filter-arrow"></span>
                      <div class="sgds-selector has-text-black" id="sgds-selector-text-desktop">Recent</div>
                  </div>
                  </a>
                  <div class="bp-dropdown-menu has-text-left" id="hero-dropdown-menu" role="menu" >
                    <div id="year-filter-desktop" class="bp-dropdown-content is-centered">
                      <a class="bp-dropdown-item padding--top--sm padding--bottom--none" id="apply-filter-recent">
                          <p>Recent</p>
                      </a>
                    </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          {%- comment -%} Display filter for mobile and tablet {%- endcomment -%}
          <div class="col is-fullwidth padding--top--lg is-hidden-desktop">
              <div class="filter-selector-div is-hidden-desktop">
                  <span class="sgds-icon sgds-icon-chevron-down is-size-4" id="filter-arrow"></span>
                  <select id="year-filter-mobile" class="sgds-selector">
                      <option value="Recent">Recent</option>
                  </select>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="bp-section">
	<div class="bp-container content padding--top--lg padding--bottom--xl">
        <div class="row">
            <div class="col is-8 is-offset-2 print-content">
            	{{- content -}}
                
              {%- if site.recommender == true -%}
                {%- unless page.recommender == false -%}
                  {%- include recommender.html -%}
                {%- endunless -%}
              {%- endif -%}
            </div>
            {%- include print.html -%}            
        </div>        
    </div>
</section>